.product-preview .product-photo .product-price {
  font-size: 34px;
}

.product-preview .product-photo .product-price sup {
  font-size: 18px;
}

.button-clean,
.button-red,
.button-void,
.button-void-alt,
.button-yellow {
  color: #333;
  background-color: #f4cd03;
}

.ReactModal__Overlay {
  z-index: 1 !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.unavailable {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}

#main-navigation-container {
  z-index: 0;
}

.modal-header .close {
  transform: scale(1.5);
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
}

.modal-header {
  border: none;
  flex-shrink: 1;
}

.ReactModal__Content form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  flex-shrink: 1;
}

.input-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.input-group-addon {
  flex: 1;
}

.input-group input {
  width: unset !important;
  flex: 7;
}

.input-group-btn {
  flex: 1;
}

.input-group-btn button {
  width: 100%;
}

.product-preview {
  height: 550px;  
}