body,
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  cursor: pointer;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 1;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}